body {
  margin:0px;
}

#container {
  font-size:25px;
  font-weight:bold;
  width:100%;
}

#flip {
  height:50px;
  overflow:hidden;
  margin-bottom:5vh;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:50px;
  margin-bottom:46px;
  display:inline-block;
  border-radius: 10px;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  color:#cc43a5;
}
#flip div:first-child div {
  color:#9e43cc;
}
#flip div:last-child div {
  color:#436dcc;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

